
@using Microsoft.AspNetCore.Mvc.RazorPages
@model webApp.ViewModels.ProductViewModel


<div class="form-group">
    <input type="hidden" name="pageId" id="pageId" value="@Model.PageId" />
    <select class="form-control" name="take">
        <option value=@Model.Take>take</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=1000>1000</option>
    </select>
    <label>Category</label>
    <select class="form-control" asp-items="@Model.Search.Categories" asp-for="@Model.Search.CategoryId">
        <option value="0">select Category</option>
    </select>
</div>
<div class="form-group">
    <label>Supplier</label>
    <select class="form-control" asp-items="@Model.Search.Suppliers" asp-for="@Model.Search.SupplierId">
        <option value="0">select Supplier</option>
    </select>
</div>
<div class="form-group">
    <label>Product Name</label>
    <input type="text" class="form-control" asp-for="@Model.Search.ProductName" value="@Model.Search.ProductName" />
</div>
<br />
<button type="submit" class="btn btn-info">Submit</button>
<br />
<hr />
<label>
    Show on every page @Model.Take
    <br/>
    Count @Model.ShowProducts.Count()
</label>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">CategoryName</th>
            <th scope="col">CategorySupplier</th>
            <th scope="col">status</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.ShowProducts)
        {
            <tr>
                <th scope="row">@product.ProductId</th>
                <th scope="row">@product.Name</th>
                <td>@product.CategoryName</td>
                <td>@product.SupplierName</td>
                <td>@(product.Status ? "true" : "false")</td>
            </tr>
        }

    </tbody>
</table>



<nav>
    <ul class="pagination">
        @if (Model.PageId > 1)
        {
            <li class="page-item">
                <a class="page-link" onclick="sendPage(@(Model.PageId-1))" tabindex="-1">Previous</a>
            </li>
        }
        
        @for (int page = Model.StartPage; page <=Model.EntPage; page++)
        {
            if (Model.PageCount > 1)
            {
                <li class="page-item">
                    <a class="page-link @((page==Model.PageId)?"bg-warning":string.Empty)"  onclick="sendPage(@(page))" tabindex="-1" style="cursor:pointer">
                        @(page)
                    </a>
                </li>
            }
           
        }

        @if (Model.PageId < Model.PageCount)
        {
            <li class="page-item">
                <a class="page-link" onclick="sendPage(@(Model.PageId+1))" tabindex="-1">Next</a>
            </li>
        }
    </ul>
</nav>
